<div class="container">
    <h1>Quotes</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let quote of quotes;let i = index'>
          <div>
            <h3 style="font-family: 'Jura', sans-serif;" id="{{i}}" appQuotes><strong>{{quote.name}}</strong> submitted on: {{quote.completeDate|date|uppercase}}</h3>
            <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
          </div>
          <div *ngIf='quotes.showDescription'>
            <app-details [quotes]="quotes"></app-details>
            <button class="btn btn-info" (click)="likes(i)">👍</button>
            <button class="btn btn-info" (click)="dislikes(i)">👎</button>
            <button class="btn btn-danger" (click)="delQuote(i)">Delete😏</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
      </div>
    </div>
    <p *ngIf='Quotes.length> 5'>This is the End of Quotes</p>
  </div>