div.container{
  background: url(../../assets/backgroundimg.jpg) fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: max-content;
}
h1{
  text-align: center;
  margin: 0px 40px 0px 0px;
  padding-top: 30px;
  font-family: sans-serif;
  font-size: 50px;
  color: darkblue;
}
